{% autoescape off %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>NHS: Hamilton Branch - {{pagename}}</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="css/images/favicon.ico" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!--[if IE 6]>
		<link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" />
		<script src="js/png-fix.js" type="text/javascript"></script>
	<![endif]-->
	<script src="js/jquery-1.4.2.js" type="text/javascript"></script>
	<script src="js/jquery.jcarousel.js" type="text/javascript"></script>
	<script src="js/js-func.js" type="text/javascript"></script>
	
</head>
<body>
<!-- Header -->
<div id="header">
	<div class="shell">
		<br><font size="10"><strong>National Honors Society</strong></font><br><br> <font size="6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hamilton High School Branch</font>
		<div id="navigation">
			<ul>
			    <li><a href="/" {{home}}><span>Home</span></a></li>
				<!--<li><a href="http://hamiltonnhs.tumblr.com/" {{news}}><span>News</span></a></li>-->
			    <li><a href="powerpoints" {{pp}}><span>PowerPoints</span></a></li>
			    <li><a href="handouts" {{handouts}}><span>Handouts</span></a></li>
			    <li><a href="events" {{events}}><span>Events</span></a> </li>
				<li><a href="photos" {{photos}}><span>Photos</span></a> </li>
			    <li><a href="contact" {{contact}}><span>Contact</span></a> </li>
		</ul>
			
		</div>
		<div class="cl">&nbsp;</div>

	</div>	
</div>
<!-- End Header -->
{{slider}}
<!-- Main -->
<div id="main">
	<div class="shell">
		{{content}}
	</div>
</div>
<!-- End Main -->
<!-- Footer -->
<div id="footer">
	<div class="shell">
		<p class="left">Copyright &copy; 2010 <a href="http://varunramesh.net/">Varun Ramesh</a>. All rights reserved. Designed by <a href="http://chocotemplates.com" target="_blank" title="The Sweetest CSS Templates WorldWide">Chocotemplates.com</a></p>
		<p class="right">
			<a href="/">Home</a>
			<span>|</span>
		    <a href="http://hamiltonnhs.tumblr.com/">News</a>
			<span>|</span>
		    <a href="powerpoints">PowerPoints</a>
		    <span>|</span>
		    <a href="handouts">Handouts</a>
		    <span>|</span>
		    <a href="events">Events</a>
		    <span>|</span>
		    <a href="contact">Contact</a>
	    </p>
	    <div class="cl">&nbsp;</div>
	</div>
</div>
<!-- Footer -->
</body>
</html>

{% endautoescape %}
